<div xmlns:th="http://www.thymeleaf.org">
	<!-- Banner/Carousel -->
	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item"
				style="background-image: url(/assets/images/banner1.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div
						class="row slider-text justify-content-center align-items-center"
						data-scrollax-parent="true">

						<div class="col-md-12 ftco-animate text-center">
							<h1 class="mb-2">Đa Dạng &amp; Phong Phú</h1>
							<h2 class="subheading mb-4">Luôn mang đến sự hài lòng</h2>
						</div>

					</div>
				</div>
			</div>

			<div class="slider-item"
				style="background-image: url(/assets/images/banner2.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div
						class="row slider-text justify-content-center align-items-center"
						data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<h1 class="mb-2">100% Chất Lượng &amp; Uy Tín</h1>
							<h2 class="subheading mb-4">Chúng tôi chuyên cung cấp cây cảnh</h2>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner/Carousel //////////////////////////////////////////////////////////////////-->
</div>
